* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0052cc;
}

/*NAVBAR COMPONENT*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000066;
    padding: 20px 100px 20px 100px;
    color: white;
}

nav .navbar .logo h1 {
    cursor: pointer;
}

nav .navbar .logo h1:hover {
    color: orange;
    transition: 0.8s;
    animation: ease-in;
}

nav .navbar .nav-link ul {
    list-style-type: none;
    display: flex;
}

nav .navbar .nav-link a {
    padding-right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

nav .navbar .nav-link a:hover {
    color: orange;
    transition: 0.8s;
    animation: ease-in;
}

/*NAVBAR COMPONENT*/

/*HEADER SECTION*/

header .header {
    display: block;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    text-align: center;
    color: white;
    border-bottom: 5px solid orange;
    background-image: url(../asset/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header .header h1 {
    margin-bottom: 20px;
}

header .header p {
    background-color: #000066;
    padding: 10px;
    border-radius: 10px;
    opacity: 80%;
}

/*HEADER SECTION*/

/*CONTENT SECTION*/

section .content {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 10px 5px; 
}

section .side {
    width: 20%;
    background-color: #000066;
    padding: 10px;
}

section .side .list-materi h3 {
    margin-left: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid orange;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}

section .side .list-materi ul {
    margin-left: 10px;
    list-style-type: none;
}

section .side .list-materi li {
    border-bottom: 1px solid orange;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    cursor: pointer;
}

section .main {
    width: 80%;
}

section .main-wrap {
    width: 100%;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    margin: auto;
}

section .main .main-wrap .card {
    background-color: #000066;
    width: 250px;
    height: 197px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    overflow-y: hidden;
}

section .main .main-wrap .card .card-header {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

section .main .main-wrap .card .card-header img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

section .main .main-wrap .card .card-body {
    color: white;
    text-align: left;
}

section .main .main-wrap .card .card-body h3 {
    margin-bottom: 10px;
}

section .main .main-wrap .card .card-body p {
    font-size: 10pt;
}

/*CONTENT SECTION*/

/*FOOTER COMPONENT*/

footer {
    background-color: #000066;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

footer .body {
    display: flex;
    justify-content: space-around;
}

footer .body .logo img {
    width: 200px;
    height: 220px;
    cursor: pointer;
}

footer .body .logo p {
    width: 180px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

footer .body .logo p:hover {
    color: orange;
    transition: 0.2s linear;
}

footer .body h2 {
    margin-top: 30px;
    cursor: pointer;
}

footer .body ul {
    list-style-type: none;
    margin-top: 30px;
}

footer .body li {
    margin-bottom: 10px;
    cursor: pointer;
}

footer .body li:hover {
    color: orange;
    transition: 0.2s linear;
}

/*FOOTER COMPONENT*/

/*RESPONSIVE MOBILE*/

@media only screen and (max-width: 600px) {

/*NAVBAR COMPONENT MOBILE*/

  nav .navbar {
    display: none;
  }

/*NAVBAR COMPONENT MOBILE*/

/* CONTENT SECTION MOBILE*/

  section .side {
    display: none;
  }

  section .main {
    width: 100%;
  }

  section .main .main-wrap {
    justify-content: center;
  }

  section .main .main-wrap .card {
    background-color: #000066;
    width: 90%;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

section .main .main-wrap .card .card-body {
    color: white;
    text-align: left;
}

section .main .main-wrap .card .card-body h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

section .main .main-wrap .card .card-body p {
    font-size: 14t;
}

/*CONTENT SECTION MOBILE*/

/*FOOTER COMPONENT MOBILE*/

footer {
    background-color: #000066;
    color: white;
    margin-top: 10px;
    padding: 20px;
}

footer .body {
    display: flex;
    justify-content: space-around;
}

footer .body .logo img {
    width: 100px;
    height: 120px;
    cursor: pointer;
}

footer .body .logo p {
    width: 80px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 8pt;
}

footer .body .logo p:hover {
    color: orange;
    transition: 0.2s linear;
}

footer .body h2 {
    margin-top: 30px;
    font-size: 14pt;
    cursor: pointer;
}

footer .body ul {
    list-style-type: none;
    margin-top: 30px;
}

footer .body li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 10pt;
}

footer .body li:hover {
    color: orange;
    transition: 0.2s linear;
}

/*FOOTER COMPONENT MOBILE*/

}@media

/*RESPONSIVE MOBILE*/